* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0em;
}

.card {
  margin-top: 36px;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item {
  height: 140px;
  width: 372px;
  border-radius: 6px;
  background-color: #C0C0C0;
}

.all {
  display: inline-block;
  margin-top: 10px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.all::after {
  content: ">";
  width: 24px;
  height: 24px;
  background-color: #30A5CA;
  margin-left: 5px;
  border-radius: 100%;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 6px;
  padding-top: 3px;
  color: white;
}

.container {
  max-width: 1190px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 44px;
  padding-top: 40px;
}

.header__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.header__menu,
.header__phone {
  padding-top: 20px;
}

.header__link {
  margin-right: 32px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: black;
}

.header__link:after {
  content: "";
  height: 2px;
  width: 0;
  background-color: black;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
}

.header__link:hover::after {
  width: 100%;
}

.header__phone a {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: black;
}

.header_fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.intro {
  margin-top: 50px;
  padding-top: 200px;
  background: url(/img/bg.png) no-repeat top center;
}

.intro__img {
  position: relative;
  z-index: 111;
}

.bg {
  position: absolute;
  top: 50px;
  right: 250px;
  z-index: 0;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__text {
  padding-right: 10px;
}

.intro__title {
  font-family: Montserrat;
  font-size: 44px;
  font-weight: 800;
  line-height: 56px;
  margin-bottom: 36px;
  max-width: 513px;
}

.intro-btn {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  background-color: #39C37C;
  border-radius: 4px;
  padding: 20px 36px;
  color: white;
}

.action {
  margin-top: 150px;
}

.card {
  margin-top: 36px;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item {
  height: 140px;
  width: 372px;
  border-radius: 6px;
  background-color: #F5F6FA;
}

.action__title {
  font-family: Montserrat;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.action--item {
  position: relative;
  background: linear-gradient(101.69deg, #30A5CA -2.4%, #10A56F 97.82%);
}

.action-watch {
  position: absolute;
  right: 90px;
  top: 48px;
}

.action-iph {
  position: absolute;
  right: 0;
  top: 0;
}

.action-car {
  position: absolute;
  right: 0;
  top: 15px;
  border-radius: 6px;
}

.action-cubs {
  position: absolute;
  right: 0;
  top: 3px;
}

.tarif {
  margin-top: 100px;
  padding-top: 50px;
}

.tarif--item {
  background-color: #F5F6FA;
  height: 220px;
  width: 372px;
  border-radius: 6px;
  position: relative;
}

.item__content {
  margin-left: 30px;
  margin-top: 28px;
}

.item__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 10px;
}

.item__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  max-width: 300px;
}

.icon-1 {
  position: absolute;
  left: 177px;
  top: 49px;
}

.icon-2 {
  position: absolute;
  left: 163px;
  top: 50px;
}

.icon-3 {
  position: absolute;
  left: 149px;
  top: 32px;
}

.car {
  margin-top: 150px;
}

.car-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.car-item {
  height: 230px;
  width: 372px;
  left: 120px;
  top: 1759px;
  margin-right: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 5px;
}

.car-item:nth-child(3) {
  margin-right: 0;
}

.car-item:nth-child(6) {
  margin-right: 0;
}

.car__img {
  display: block;
  margin: 30px auto 0;
}

.car__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

a {
  color: #666666;
}

.nav-tabs {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-tab {
  margin-right: 10px;
  text-decoration: none;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.nav-tab.active {
  cursor: default;
  color: #39C37C;
}

.tab-content {
  font-size: 20px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.demand {
  margin-top: 150px;
}

.demand__content {
  padding: 60px 30px;
  background-color: #CDCDCD;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.demand__text {
  max-width: 388px;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  margin-bottom: 28px;
}

.demand__img {
  margin-left: 94px;
}

.demand__item {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.demand__link {
  margin-bottom: 16px;
}

.demand__link::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #30CA80;
  border-radius: 100%;
  margin-bottom: 5px;
  margin-right: 5px;
}

.registration {
  padding-top: 140px;
  padding-bottom: 140px;
  margin-top: 140px;
  background: url(../img/iph-bg.png) no-repeat center;
}

.registration__item {
  margin-right: 10px;
  margin-bottom: 50px;
  max-width: 380px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.registration__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.qr-cod {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  text-align: center;
  margin-top: 24px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  color: rgba(0, 0, 0, 0.23);
}

.cod {
  margin-right: 20px;
}

.qr-cod__text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 197px;
}

.app-store {
  color: #30A5CA;
}

.google-play {
  color: #45BD79;
}

.item-3 {
  padding-left: 30px;
  padding-top: 30px;
}

.item-4 {
  padding-top: 30px;
  padding-left: 30px;
}

.promokod {
  text-transform: uppercase;
  color: #45BD79;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
}

.questions {
  padding-top: 140px;
}

.questions__link {
  margin-top: 24px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  color: black;
}

.questions__link::before {
  content: ">";
  color: #b3aeae;
  margin-right: 5px;
}

.app {
  padding-top: 183px;
}

.app__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app__item {
  width: 50%;
  position: relative;
}

.img__left {
  position: absolute;
  left: 0;
  z-index: 0;
}

.img__right {
  position: absolute;
  z-index: 1;
  top: -32px;
  right: 41px;
}

.app__text {
  margin-bottom: 28px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  width: 633px;
}

.btm__text {
  margin-bottom: 24px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  max-width: 323px;
  color: #999999;
}

.app__tel {
  border: 1px solid  #CACACA;
  padding: 10px 5px 10px 20px;
  outline: none;
  border-radius: 6px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.app-promo {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
}

.tel {
  margin-right: 120px;
}

.application {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.application__link {
  display: inline-block;
  padding: 15px 60px;
  margin-top: 20px;
  background-color: #3CC37C;
  border-radius: 6px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: #FFFFFF;
}

.tel__text {
  margin-top: 24px;
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
}

.green {
  color: #3CC37C;
}

.footer {
  margin-top: 242px;
  padding-top: 75px;
  padding-bottom: 95px;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

.icon__link {
  margin-right: 16px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.info__tel {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.info__mail {
  margin-top: 12px;
  color: #377BFF;
  font-family: Inter;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
}

.footer__left {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #999999;
}

.footer__right {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #999999;
}
