@import 'blocks/vars';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $bl;
}
a{
    text-decoration: none;
    color: $bl;
}
.title{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0em;

}
.card{
    margin-top: 36px;
}
.inner{
    display: flex;
}
.item{
    height: 140px;
    width: 372px;
    border-radius: 6px;
    background-color: #C0C0C0;
    &:hover{
        box-shadow: 0 0 2px rgba(0,0,0,0.5);
    } 
    
}
.all{
    display: inline-block;
    margin-top: 10px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    &::after{
        content: ">";
        width: 24px;
        height: 24px;
        background-color: #30A5CA;
        margin-left: 5px;
        border-radius: 100%;
        padding-left: 9px;
        padding-right: 9px;
        padding-bottom: 6px;
        padding-top: 3px;
        color: white;
    }
}
@import 'blocks/container';
@import 'blocks/header';
@import 'blocks/intro';
@import 'blocks/action';
@import 'blocks/tarif';
@import 'blocks/car';
@import 'blocks/demand';
@import 'blocks/registration';
@import 'blocks/questions';
@import 'blocks/app';
@import 'blocks/footer';


