.action{
    margin-top: 150px;
}
.card{
    margin-top: 36px;
}
.inner{
    display: flex;
    justify-content: space-between;
}
.item{
    height: 140px;
    width: 372px;
    border-radius: 6px;
    background-color: #F5F6FA;;    
}
.action__title{ 
    font-family: Montserrat;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}
.action--item{
    position: relative;
    background: linear-gradient(101.69deg, #30A5CA -2.4%, #10A56F 97.82%)
}
.first{
    background: linear-gradient(101.69deg, #30A5CA -2.4%, #10A56F 97.82%);
}
.too{
    background: linear-gradient(102.27deg, #10A56F -13.54%, #30A5CA 88.08%);
}
.third{
    background: linear-gradient(103.23deg, #30A5CA 8.11%, #10A56F 106.89%);
}
.action-watch{
    position: absolute;
    right: 90px;
    top: 48px;
}
.action-iph{
    position: absolute;
    right: 0;
    top: 0;
}
.action-car{
    position: absolute;
    right: 0;
    top: 15px;
    border-radius: 6px;
}
.action-cubs{
    position: absolute;
    right:0;
    top: 3px;
}


