.footer{
    margin-top:242px;
    padding-top:75px;
    padding-bottom: 95px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}
.icon__link{
    margin-right: 16px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.info__tel{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}
.info__mail{
    margin-top: 12px;
    color:  #377BFF;
    font-family: Inter;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;

}
.footer__left{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #999999;
}
.footer__right{
    
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #999999;
}