.header{
    min-height: 44px;
    padding-top: 40px;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}
.header__menu,
.header__phone{
    padding-top: 20px;
}
.header__link{
    margin-right:32px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: $bl;
    &:after{
        content: "";
        height: 2px;
        width: 0;
        background-color: $bl;
        position: absolute;
        bottom: -5px;
        left: 0;
        z-index: 1;
        transition: width .2s linear;
    }

    &:hover{
        &::after{
            width: 100%;
        }
       
        
    }
       
}

.header__phone a{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: $bl;
}