.header{
    width: 100%;
    min-height: 44px;
    z-index: 1111;
   
}
.header__inner{ 
    padding-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}
.header__menu,
.header__phone{

}
.header__link{
    margin-right:32px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    position: relative;
    &:after{
        content: "";
        height: 2px;
        width: 0;
        background-color: #1CA25D;
        position: absolute;
        bottom: -5px;
        left: 0;
        z-index: 1;
        transition:.2s linear;
    }

    &:hover{
        &::after{
            width: 100%;
           
        }
       
        
    }
       
}

.header__phone a{
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    color: $bl;
}
.header_fixed {
    position: fixed;
    left: 0;
    top: 0;
  }