.intro{
    margin-top: 170px;
    position: relative;
}
.intro__inner{
    display: flex;
}
.intro__text{
    padding-right: 10px;
    
}
.intro__title{
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 800;
    line-height: 56px;
    margin-bottom: 36px;
    max-width: 513px;
}
.intro-btn{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    background-color: #C5C5C5;
    border-radius: 4px;
    padding: 20px 36px;
}
.intro__img{
    position: absolute;
    right: 460px;
    top: -3px;
}