.intro{
    margin-top: 50px;
    padding-top: 200px;
    background: url(../img/bg.png) no-repeat top center;
     
}
.intro__img{
    position: relative;
    z-index: 111;
}
.bg{
    position: absolute;
    top: 50px;
    right: 250px;
    z-index: 0;
}
.intro__inner{
    display: flex;
   
}
.intro__text{
    padding-right: 10px;
    
}
.intro__title{
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 800;
    line-height: 56px;
    margin-bottom: 36px;
    max-width: 538px;  
}
.intro-btn{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    background-color: #39C37C;
    border-radius: 4px;
    padding: 20px 36px;
    color: white;
    &:hover{
        background-color:  #1d6840;
    }
}

