.tarif{
    margin-top: 100px;
    padding-top: 50px;
}
.tarif--item{
    background-color: #F5F6FA;
    height: 220px;
    width: 372px;
    border-radius: 6px;
    position: relative;
   

}
.item__content{
    margin-left: 30px;
    margin-top: 28px;
}
.item__text{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 10px;
}
.item__title{
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    max-width: 300px;
}
.icon-1{
    position: absolute;
    left: 177px;
    top: 49px;
}
.icon-2{
    position: absolute;
    left: 163px;
    top: 50px;

}
.icon-3{
    position: absolute;
    left: 149px;
    top: 32px;
}